{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/clojurescript {:mvn/version "1.10.773"}

  clj-time {:mvn/version "0.14.2"}
  com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}}

 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :extra-deps 
   {io.aviso/pretty {:mvn/version "0.1.34"}
    org.clojure/tools.namespace {:mvn/version "0.2.11"}
    org.clojure/tools.nrepl {:mvn/version "0.2.12"}}}
  :test {:extra-paths ["test"]
         :extra-deps
         {com.cognitect/test-runner
          {:git/url "https://github.com/cognitect-labs/test-runner.git"
           :sha "5fb4fc46ad0bf2e0ce45eba5b9117a2e89166479"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :test-cljs
  {:extra-deps
   {olical/cljs-test-runner {:mvn/version "0.1.0"}}
   :main-opts ["-m" "cljs-test-runner.main"]}
  :dev/nrepl {:jvm-opts ["-Dclova.load_nrepl=true"]
              :extra-paths ["aliases/nrepl"]
              :extra-deps
              {cider/cider-nrepl {:mvn/version "0.16.0"}
               cider/piggieback {:mvn/version "0.5.1"}
               org.clojure/tools.nrepl {:mvn/version "0.2.12"}}}}}
